In [1]:
import pandas as pd

In [2]:
import glob

all_dfs = [
    pd.read_csv(one_filename,
      usecols=['JobStartDate', 
        'TotalBaseWaterVolume', 'StateName', 
        'CountyName', 'FederalWell'])
    for one_filename in glob.glob(f'FracFocusRegistry_*.csv')
]

df = pd.concat(all_dfs)

In [4]:
len(all_dfs)

14

In [5]:
df

,JobStartDate,StateName,CountyName,TotalBaseWaterVolume,FederalWell
0,5/1/1955 12:00:00 AM,Texas,Martin,NaN,False
1,5/19/1982 12:00:00 AM,Wyoming,Converse,NaN,False
2,2/7/1995 12:00:00 AM,Wyoming,Converse,NaN,False
3,6/11/1996 12:00:00 AM,Texas,Mitchell,NaN,False
4,12/13/2001 12:00:00 AM,Texas,Robertson,NaN,False
...,...,...,...,...,...
499995,8/21/2018 5:00:00 AM,New Mexico,Lea,19003693.0,False
499996,8/21/2018 5:00:00 AM,New Mexico,Lea,19003693.0,False
499997,8/21/2018 5:00:00 AM,New Mexico,Lea,19003693.0,False
499998,8/21/2018 5:00:00 AM,New Mexico,Lea,19003693.0,False
499999,8/21/2018 5:00:00 AM,New Mexico,Lea,19003693.0,False

In [6]:
df['JobStartDate'] = pd.to_datetime(df['JobStartDate'])

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 2323-06-08 14:09:00 present at position 21302

In [7]:
df['JobStartDate'] = pd.to_datetime(df['JobStartDate'], errors='coerce')

In [8]:
df['JobStartDate']

0        1955-05-01 00:00:00
1        1982-05-19 00:00:00
2        1995-02-07 00:00:00
3        1996-06-11 00:00:00
4        2001-12-13 00:00:00
                 ...
499995   2018-08-21 05:00:00
499996   2018-08-21 05:00:00
499997   2018-08-21 05:00:00
499998   2018-08-21 05:00:00
499999   2018-08-21 05:00:00
Name: JobStartDate, Length: 6612555, dtype: datetime64[ns]

In [10]:
pd.unique(df['JobStartDate'])

array(['1955-05-01T00:00:00.000000000', '1982-05-19T00:00:00.000000000',
       '1995-02-07T00:00:00.000000000', ...,
       '2018-09-27T07:08:00.000000000', '2018-09-15T20:36:00.000000000',
       '2018-09-16T04:00:00.000000000'], dtype='datetime64[ns]')

In [11]:
len(pd.unique(df['JobStartDate']))

48728

In [16]:
df['JobStartDate'].value_counts()['2013-08-19']

2013-08-19 00:00:00    5837
2013-08-19 05:30:00      80
2013-08-19 05:00:00      78
2013-08-19 00:06:34      74
2013-08-19 07:10:00      67
2013-08-19 08:37:00      67
2013-08-19 10:48:00      67
2013-08-19 06:32:05      65
2013-08-19 15:29:37      64
2013-08-19 08:00:00      62
2013-08-19 07:00:00      55
2013-08-19 07:19:00      47
2013-08-19 06:43:00      46
2013-08-19 21:08:00      43
2013-08-19 06:12:00      41
2013-08-19 06:59:00      41
2013-08-19 20:33:00      41
2013-08-19 06:52:00      40
2013-08-19 15:33:00      38
2013-08-19 10:33:00      38
2013-08-19 09:04:00      38
2013-08-19 07:05:00      38
2013-08-19 16:36:00      38
2013-08-19 12:10:00      37
2013-08-19 05:58:00      36
2013-08-19 07:52:00      26
2013-08-19 06:44:00      24
2013-08-19 09:45:00      22
2013-08-19 13:10:00      21
2013-08-19 09:56:00      20
Name: JobStartDate, dtype: int64

In [18]:
df[df['JobStartDate'].isnull()].count()

JobStartDate              0
StateName               725
CountyName              725
TotalBaseWaterVolume    724
FederalWell             725
dtype: int64