In [2]:
import pandas as pd

In [3]:
filename = '1976-2022-house.csv'
df = pd.read_csv(filename,
                usecols=['year', 'state', 'state_po', 
                         'district', 'stage', 'candidate', 
                         'party', 'candidatevotes', 'totalvotes'])

In [4]:
df

,year,state,state_po,district,stage,candidate,party,candidatevotes,totalvotes
0,1976,ALABAMA,AL,1,GEN,BILL DAVENPORT,DEMOCRAT,58906,157170
1,1976,ALABAMA,AL,1,GEN,JACK EDWARDS,REPUBLICAN,98257,157170
2,1976,ALABAMA,AL,1,GEN,WRITEIN,NaN,7,157170
3,1976,ALABAMA,AL,2,GEN,J CAROLE KEAHEY,DEMOCRAT,66288,156362
4,1976,ALABAMA,AL,2,GEN,"WILLIAM L ""BILL"" DICKINSON",REPUBLICAN,90069,156362
...,...,...,...,...,...,...,...,...,...
32447,2022,WYOMING,WY,0,GEN,RICHARD BRUBAKER,LIBERTARIAN,5420,198198
32448,2022,WYOMING,WY,0,GEN,MARISSA JOY SELVIG,CONSTITUTION,4505,198198
32449,2022,WYOMING,WY,0,GEN,WRITEIN,NaN,4521,198198
32450,2022,WYOMING,WY,0,GEN,UNDERVOTES,NaN,3660,198198
32451,2022,WYOMING,WY,0,GEN,OVERVOTES,NaN,636,198198

In [5]:
df['stage'].value_counts()

GEN    32392
PRI       60
Name: stage, dtype: int64

In [6]:
df = df.loc[df['stage'] == 'GEN']

In [7]:
df

,year,state,state_po,district,stage,candidate,party,candidatevotes,totalvotes
0,1976,ALABAMA,AL,1,GEN,BILL DAVENPORT,DEMOCRAT,58906,157170
1,1976,ALABAMA,AL,1,GEN,JACK EDWARDS,REPUBLICAN,98257,157170
2,1976,ALABAMA,AL,1,GEN,WRITEIN,NaN,7,157170
3,1976,ALABAMA,AL,2,GEN,J CAROLE KEAHEY,DEMOCRAT,66288,156362
4,1976,ALABAMA,AL,2,GEN,"WILLIAM L ""BILL"" DICKINSON",REPUBLICAN,90069,156362
...,...,...,...,...,...,...,...,...,...
32447,2022,WYOMING,WY,0,GEN,RICHARD BRUBAKER,LIBERTARIAN,5420,198198
32448,2022,WYOMING,WY,0,GEN,MARISSA JOY SELVIG,CONSTITUTION,4505,198198
32449,2022,WYOMING,WY,0,GEN,WRITEIN,NaN,4521,198198
32450,2022,WYOMING,WY,0,GEN,UNDERVOTES,NaN,3660,198198
32451,2022,WYOMING,WY,0,GEN,OVERVOTES,NaN,636,198198

In [8]:
# We can combine all of the above into a single chained query as follows:

df = (
    pd.read_csv(filename,
                usecols=['year', 'state', 'state_po', 
                         'district', 'stage', 'candidate', 
                         'party', 'candidatevotes', 'totalvotes'])
    .loc[lambda df_: df_['stage'] == 'GEN']
    .drop('stage', axis='columns')
)

In [9]:
df

,year,state,state_po,district,candidate,party,candidatevotes,totalvotes
0,1976,ALABAMA,AL,1,BILL DAVENPORT,DEMOCRAT,58906,157170
1,1976,ALABAMA,AL,1,JACK EDWARDS,REPUBLICAN,98257,157170
2,1976,ALABAMA,AL,1,WRITEIN,NaN,7,157170
3,1976,ALABAMA,AL,2,J CAROLE KEAHEY,DEMOCRAT,66288,156362
4,1976,ALABAMA,AL,2,"WILLIAM L ""BILL"" DICKINSON",REPUBLICAN,90069,156362
...,...,...,...,...,...,...,...,...
32447,2022,WYOMING,WY,0,RICHARD BRUBAKER,LIBERTARIAN,5420,198198
32448,2022,WYOMING,WY,0,MARISSA JOY SELVIG,CONSTITUTION,4505,198198
32449,2022,WYOMING,WY,0,WRITEIN,NaN,4521,198198
32450,2022,WYOMING,WY,0,UNDERVOTES,NaN,3660,198198
32451,2022,WYOMING,WY,0,OVERVOTES,NaN,636,198198

In [10]:
# I’ll add, by the way, that the total memory used by this data frame on my system is 9.2 MB. 
# Both “state” and “state_po” contain repeated strings, which are perfect candidates for Pandas 
# categories — basically, the equivalent of enums. I can convert them both:

df['state'] = df['state'].astype('category')
df['state_po'] = df['state_po'].astype('category')

In [11]:
(
    df
    .set_index('year')
    .loc[2022]
)

,state,state_po,district,candidate,party,candidatevotes,totalvotes
year,,,,,,,
2022,ALABAMA,AL,1,JERRY L CARL,REPUBLICAN,140592,168150
2022,ALABAMA,AL,1,ALEXANDER M REMREY,LIBERTARIAN,26369,168150
2022,ALABAMA,AL,1,WRITEIN,NaN,1189,168150
2022,ALABAMA,AL,2,BARRY MOORE,REPUBLICAN,137460,198961
2022,ALABAMA,AL,2,PHYLLIS HARVEY-HALL,DEMOCRAT,58014,198961
...,...,...,...,...,...,...,...
2022,WYOMING,WY,0,RICHARD BRUBAKER,LIBERTARIAN,5420,198198
2022,WYOMING,WY,0,MARISSA JOY SELVIG,CONSTITUTION,4505,198198
2022,WYOMING,WY,0,WRITEIN,NaN,4521,198198
2022,WYOMING,WY,0,UNDERVOTES,NaN,3660,198198
2022,WYOMING,WY,0,OVERVOTES,NaN,636,198198

In [13]:
(
    df
    .set_index('year')
    .loc[2022]
    .groupby('state', observed=False)['district']
)

In [14]:
(
    df
    .set_index('year')
    .loc[2022]
    .groupby('state', observed=False)['district']
    .count()
    .sort_values(ascending=False)
    .head(10)
)

state
NEW YORK         158
CALIFORNIA       104
TEXAS             93
FLORIDA           72
NEW JERSEY        53
MICHIGAN          51
ILLINOIS          46
TENNESSEE         37
MASSACHUSETTS     36
VIRGINIA          35
Name: district, dtype: int64

In [15]:
(
    df
    .set_index('year')
    .loc[2022]
    .groupby('state', observed=False)['district']
    .max()
    .sort_values(ascending=False)
    .head(10)
)

state
CALIFORNIA        52.0
TEXAS             38.0
FLORIDA           28.0
NEW YORK          26.0
PENNSYLVANIA      17.0
ILLINOIS          17.0
OHIO              15.0
GEORGIA           14.0
NORTH CAROLINA    14.0
MICHIGAN          13.0
Name: district, dtype: float64

In [16]:
(
    df
    .set_index('year')
    .loc[2022]
    .groupby('state', observed=False)['district']
    .max()
    .sort_values(ascending=False)
    .tail(10)
)

state
MAINE                   2.0
IDAHO                   2.0
HAWAII                  2.0
SOUTH DAKOTA            0.0
NORTH DAKOTA            0.0
ALASKA                  0.0
VERMONT                 0.0
DELAWARE                0.0
WYOMING                 0.0
DISTRICT OF COLUMBIA    NaN
Name: district, dtype: float64

In [24]:
# Reset
df = (
    pd.read_csv(filename,
                usecols=['year', 'state', 'state_po', 
                         'district', 'stage', 'candidate', 
                         'party', 'candidatevotes', 'totalvotes'])
    .loc[lambda df_: df_['stage'] == 'GEN']
    .drop('stage', axis='columns')
)

In [25]:
df

,year,state,state_po,district,candidate,party,candidatevotes,totalvotes
0,1976,ALABAMA,AL,1,BILL DAVENPORT,DEMOCRAT,58906,157170
1,1976,ALABAMA,AL,1,JACK EDWARDS,REPUBLICAN,98257,157170
2,1976,ALABAMA,AL,1,WRITEIN,NaN,7,157170
3,1976,ALABAMA,AL,2,J CAROLE KEAHEY,DEMOCRAT,66288,156362
4,1976,ALABAMA,AL,2,"WILLIAM L ""BILL"" DICKINSON",REPUBLICAN,90069,156362
...,...,...,...,...,...,...,...,...
32447,2022,WYOMING,WY,0,RICHARD BRUBAKER,LIBERTARIAN,5420,198198
32448,2022,WYOMING,WY,0,MARISSA JOY SELVIG,CONSTITUTION,4505,198198
32449,2022,WYOMING,WY,0,WRITEIN,NaN,4521,198198
32450,2022,WYOMING,WY,0,UNDERVOTES,NaN,3660,198198
32451,2022,WYOMING,WY,0,OVERVOTES,NaN,636,198198

In [35]:
df.loc[df['state_po'] == 'MD'].loc[df['party'] == 'DEMOCRAT'].loc[df['district'] == 6]

,year,state,state_po,district,candidate,party,candidatevotes,totalvotes
436,1976,MARYLAND,MD,6,GOODLOE E BYRON,DEMOCRAT,126801,179004
1702,1978,MARYLAND,MD,6,BEVERLY B BYRON,DEMOCRAT,126196,140741
2890,1980,MARYLAND,MD,6,BEVERLY B BYRON,DEMOCRAT,146101,209014
4176,1982,MARYLAND,MD,6,BEVERLY B BYRON,DEMOCRAT,102596,137917
5433,1984,MARYLAND,MD,6,BEVERLY B BYRON,DEMOCRAT,123383,189442
6579,1986,MARYLAND,MD,6,BEVERLY B BYRON,DEMOCRAT,102975,142575
7689,1988,MARYLAND,MD,6,BEVERLY B BYRON,DEMOCRAT,166753,221281
8807,1990,MARYLAND,MD,6,BEVERLY B BYRON,DEMOCRAT,106502,162981
10130,1992,MARYLAND,MD,6,THOMAS H HATTERY,DEMOCRAT,106224,231788
11556,1994,MARYLAND,MD,6,PAUL MULDOWNEY,DEMOCRAT,63411,186220
12966,1996,MARYLAND,MD,6,STEPHEN CRAWFORD,DEMOCRAT,100910,233788
14518,1998,MARYLAND,MD,6,TIMOTHY D MCCOWN,DEMOCRAT,73728,201530
16009,2000,MARYLAND,MD,6,DONALD M DEARMON,DEMOCRAT,109136,278045
17565,2002,MARYLAND,MD,6,DONALD M DEARMON,DEMOCRAT,75575,223400
18941,2004,MARYLAND,MD,6,KENNETH T BOSLEY,DEMOCRAT,90108,305508
20315,2006,MARYLAND,MD,6,ANDREW DUCK,DEMOCRAT,92030,239453
21701,2008,MARYLAND,MD,6,JENNIFER P DOUGHERTY,DEMOCRAT,128207,330535
23131,2010,MARYLAND,MD,6,ANDREW DUCK,DEMOCRAT,80455,242189
24572,2012,MARYLAND,MD,6,JOHN DELANEY,DEMOCRAT,181921,309549
25973,2014,MARYLAND,MD,6,JOHN K DELANEY,DEMOCRAT,94704,190536
27347,2016,MARYLAND,MD,6,JOHN K DELANEY,DEMOCRAT,185770,331973
28771,2018,MARYLAND,MD,6,DAVID TRONE,DEMOCRAT,163346,276974
30166,2020,MARYLAND,MD,6,DAVID J TRONE,DEMOCRAT,215540,366434
31468,2022,MARYLAND,MD,6,DAVID J TRONE,DEMOCRAT,140295,256398